@{
    ViewData["Title"] = "Olvide mi Contraseña";
}
<form method="post" action='@Url.Action("OlvideLaContraseña","Account")'>
    <section class="form-register">
        <h4>Recupera tu Contraseña</h4>
        <input class="controls" type="email" name="Email" id="email" placeholder="Ingrese su Email">
        <input class="controls" type="password" name="Contraseña" id="correo" placeholder="Ingrese su nueva Contraseña">
        <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        <input class="botons" type="submit" value="Cambiar Contraseña">
        <p><a href='@Url.Action("Login","Account")'>¿Ya tengo Cuenta?</a></p>
    </section>
</form>