@{
    ViewData["Title"] = "Pagina Bienvenida";
}
<h1>Bienvenido a nuestro proyecto, aún estamos trabajando en esto, así que no se cómo llegaste hasta acá</h1>
<p><a href="#">¿Ya tengo Cuenta?</a></p>
<p><a href="Registro">Registrarse</a></p>

