USE [master]
GO
/****** Object:  Database [tp09JavaScriptYMVC]    Script Date: 2/10/2023 10:41:03 ******/
CREATE DATABASE [tp09JavaScriptYMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tp09JavaScriptYMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\tp09JavaScriptYMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tp09JavaScriptYMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\tp09JavaScriptYMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tp09JavaScriptYMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tp09JavaScriptYMVC]
GO
/****** Object:  User [alumno]    Script Date: 2/10/2023 10:41:03 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 2/10/2023 10:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](130) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Genero] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [UserName], [Contraseña], [Email], [Telefono], [Genero]) VALUES (1, N'dexnou', N'pepito24', N'noahdemianr@gmail.com', 1177829342, N'M')
INSERT [dbo].[Usuario] ([id], [UserName], [Contraseña], [Email], [Telefono], [Genero]) VALUES (5, N'eeee', N'aaaa', N'pepe@gmail.com', 0, N'M')
INSERT [dbo].[Usuario] ([id], [UserName], [Contraseña], [Email], [Telefono], [Genero]) VALUES (6, N'aaaaa', N'aaaaa', N'pepito@gmail.com', 0, N'M')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
USE [master]
GO
